// stylelint-disable declaration-no-important

.shadow-sm { box-shadow: Tshbox-shadow-sm !important; }
.shadow { box-shadow: Tshbox-shadow !important; }
.shadow-lg { box-shadow: Tshbox-shadow-lg !important; }
.shadow-none { box-shadow: none !important; }
